<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="Pages.Add_Employee_1"/>
      		<class name="Pages.Admin_AddUser_2"/>  
      <class name="Pages_2.My_Info_page"/>  
     <!--  <class name="Pages.After_AddUser_Login"/> 
      <class name="Pages.Delete_AddedUser"/>-->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
